body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;


}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    padding: 20px;
    z-index: 2;
}

.centre {
    display: flex;
    justify-content: center;


}

#banner {

    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #fff 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 30px;
    letter-spacing: 10px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}



 .container {
    margin-top: 74px;
    letter-spacing: 3px;
    text-align: center;
}

marquee {
    direction: right;
    behavior: "alternate";
    border: #fff 2px solid; 
    position: fixed;
    z-index: -1;
    top: 74px;
    width: 100%;
    left: 0;
} 

.main {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}

.waviy {
    display: inline-block;
    font-size: 30px;
    margin-top: 96px;
}

.waviy span {
    animation: wave 1s linear infinite;
    display: inline-block;
    transform-origin: 50% 50%;
    animation-delay: calc(var(--i) * 0.1s);
}

.waviy .space {
    width: 20px;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


.form input {
    width: 97%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;

}


.guessSubmit {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.guessSubmit:hover {
    background-color: #45A049;
}



.resultParas {
    text-align: center;
    margin-top: 20px;
}

.resultParas p:first-child {
    font-weight: bold;
    font-size: 18px;
}

.resultParas .guesses {
    color: #4CAF50;
    font-weight: bold;
}

.resultParas p:nth-child(2) {
    font-size: 18px;
    margin-top: 10px;
}

.resultParas .lowOrHigh {
    font-size: 20px;
    font-weight: bold;
    color: #FF5722;
    margin-top: 10px;
}


/**********************************Responsive****************************************/


 @media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .container {
        margin-top: 30px;
        letter-spacing: 2px;
    }

    

    .waviy {
        font-size: 24px;
        margin-top: 64px;
    }

    .guessField,
    .guessSubmit {
        width: 90%;
        max-width: 300px;
    }

    .resultParas p:first-child {
        font-size: 16px;
    }

    .resultParas p:nth-child(2) {
        font-size: 16px;
    }

    .resultParas .lowOrHigh {
        font-size: 18px;
    }
}

